.gallery {
    --size: 120px;
    display: grid;
    grid-template-columns: repeat(12, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 15px;

    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus) {
        filter: brightness(0.5) contrast(0.5);
    }

    & img {
        object-fit: cover;
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
        clip-path: path("M108,12 C120,0 120,0 132,12 228,108 228,108 228,108 240,120 240,120 228,132 228,132 132,228 132,228 120,240 120,240 108,228 108,228 12,132 12,132 0,120 0,120 12,108Z");
        transition: clip-path 0.25s, filter 0.75s;
        grid-column: auto / span 2;
        border-radius: 5px;



        &:hover,
        &:focus {
            clip-path: path("M0,0 C0,0 240,0 240,0 240,0 240,120 240,120 240,120 240,240 240,240 240,240 120,240 120,240 120,240 120,240 0,240 0,240 0,120 0,120 0,120 0,120 0,120Z");
            z-index: 1;
            transition: clip-path 0.25s, filter 0.25s;
        }

        &:focus {
            outline: 1px dashed black;
            outline-offset: -5px;
        }
    }


    /*Media Queries*/
    @media (min-width: 1601px) {
        & img {
            &:nth-child(11n +7) {
                grid-column: 2 / span 2
            }
        }
    }


    @media (max-width: 1600px) and (min-width: 1201px) {
        grid-template-columns: repeat(10, minmax(105px, 1fr));

        & img {
            &:nth-child(9n +6) {
                grid-column: 2 / span 2
            }
        }
    }



    @media (max-width: 1200px)and (min-width: 920px) {
        grid-template-columns: repeat(8, minmax(103px, 1fr));

        & img {
            &:nth-child(7n + 5) {
                grid-column: 2 / span 2;
            }
        }
    }

    @media (max-width: 919px)and (min-width: 641px) {
        --size: 80px;
        grid-template-columns: repeat(8, minmax(65px, 1fr));

        & img {
            clip-path: path("M72,8 C80,0 80,0 88,8 152,72 152,72 152,72 160,80 160,80 152,88 152,88 88,152 88,152 80,160 80,160 72,152 72,152 8,88 8,88 0,80 0,80 8,72Z");

            &:nth-child(7n + 5) {
                grid-column: 2 / span 2;
            }
        }
    }

    @media (max-width: 640px)and (min-width: 451px) {
        --size: 50px;
        grid-template-columns: repeat(8, minmax(35px, 1fr));

        & img {
            clip-path: path("M45,5 C50,0 50,0 55,5 95,45 95,45 95,45 100,50 100,50 95,55 95,55 55,95 55,95 50,100 50,100 45,95 45,95 5,55 5,55 0,50 0,50 5,45Z");

            &:nth-child(7n + 5) {
                grid-column: 2 / span 2;
            }
        }
    }


    @media (max-width: 450px) {
        --size: 50px;
        grid-template-columns: repeat(6, minmax(35px, 1fr));

        & img {
            clip-path: path("M45,5 C50,0 50,0 55,5 95,45 95,45 95,45 100,50 100,50 95,55 95,55 55,95 55,95 50,100 50,100 45,95 45,95 5,55 5,55 0,50 0,50 5,45Z");

            &:nth-child(5n + 4) {
                grid-column: 2 / span 2 !important;
            }
        }
    }
}