.gallery {
    --size: 120px;
    display: grid;
    grid-template-columns: repeat(12, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 15px;

    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus) {
        filter: brightness(0.5) contrast(0.5);
    }

    & img {
        object-fit: cover;
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
        clip-path: path("M108,12 C120,0 120,0 132,12 228,108 228,108 228,108 240,120 240,120 228,132 228,132 132,228 132,228 120,240 120,240 108,228 108,228 12,132 12,132 0,120 0,120 12,108Z");
        transition: clip-path 0.25s, filter 0.75s;
        grid-column: auto / span 2;
        border-radius: 5px;

        &:nth-child(11n +7) {
            grid-column: 2 / span 2
        }

        &:hover,
        &:focus {
            clip-path: path("M0,0 C0,0 240,0 240,0 240,0 240,120 240,120 240,120 240,240 240,240 240,240 120,240 120,240 120,240 120,240 0,240 0,240 0,120 0,120 0,120 0,120 0,120Z");
            z-index: 1;
            transition: clip-path 0.25s, filter 0.25s;
        }

        &:focus {
            outline: 1px dashed black;
            outline-offset: -5px;
        }
    }
}