.display-zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(105, 105, 105, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(2px);
}

h2 {
    font-size: 1.2rem;
}

@media (max-width: 799px) {
    .responsive-row {
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    .responsive-row>* {
        /* Selecciono todos los hijos directos */
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

    }

    .responsive-row>*:first-child {
        height: 70vh;
        /* Ajustar altura del primer hijo (contenedor de la imagen) */
    }

    .responsive-row>*:last-child {
        height: auto;
        /* Ajustar altura del segundo elemento (card-body) */
    }
}

.carousel-control-next,
.carousel-control-prev {
    /*espacio para que no llegue a los extremos*/
    margin: 300px 10px;
}