@media (max-width: 799px) {
    .responsive-row {
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    .responsive-row>* {
        /* Selecciono todos los hijos directos */
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

    }

    .responsive-row>*:first-child {
        height: 70vh;
        /* Ajustar altura del primer hijo (contenedor de la imagen) */
    }

    .responsive-row>*:last-child {
        height: auto;
        /* Ajustar altura del segundo elemento (card-body) */
    }
}